#camera_icon {
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: fixed;
    top: 15px;
    right: 235px;
    cursor: pointer;
    max-height: 70px !important;
    max-width: 70px !important;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    filter: invert(1);
}

#container{
    position:absolute;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    z-index: 100;
    visibility: visible;
}

.info{
	font-family: 'Open Sans';
	position:absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -0%);
}

.info .website-link{
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

.info .subtitle{
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.info .title{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.info .button{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 24px 0 0 0;
    cursor: pointer;
}

.info .button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.info .instructions{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 24px 0 0 0;
}

a:link, a:hover, a:visited, a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Searchbar style*/
.search-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-family: 'Open Sans';
    font-size: 0.5em;
}

#searchInput {
    padding: 8px;
    width: 150px;
}

.suggestions {
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

/* Artwork info panel style*/
#info-panel {
    position: fixed;
    right: 0;
    top: 50px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000; /* To ensure it's above other elements */
    font-family: 'Open Sans';
}

#info-iframe {
    border: none;
    /* additional styling for iframe */
}

#info-title {
    font-size: 1.5em;
    text-align: right;
    font-weight: bold;
}

#info-artist {
    font-size: 1em;
    text-align: right;
}

#info-youtube {
    font-size: 0.8em;
    text-align: right;
    color: rgb(54, 52, 52);
    text-decoration: underline;
}

#info-year {
    font-size: 0.8em;
    text-align: right;
}

#info-medium {
    font-size: 0.8em;
    text-align: right;
    font-style: italic;
}

#info-dimensions {
    font-size: 0.8em;
    text-align: right;
}


